[2014-04-01 16:24] asonnenschein opened #1 "script to install stack"
We need a script to install the whole stack on one server, even if it's just for internal use.  Work is being done on branch 'install_stack'.

[2014-04-10 12:41] mattmackenzie opened #2 "Installer in this repo results in what looks like a default CKAN install."
![screen shot 2014-04-10 at 9 38 49 am](https://cloud.githubusercontent.com/assets/653087/2667373/195c10fe-c0ad-11e3-9f2f-57e0cfe87a8d.png)

Log available on request.

[2014-04-11 19:49] #2 closed, assigned to nobody

[2014-04-23 18:21] asonnenschein opened #8 "Create 'harvest' user"
The harvester cannot harvest from another server using the CKAN harvester without there being a 'harvester' user with sysadmin privileges stored in the DB.  Supposedly this was fixed in vanilla CKAN patch v2.0.4, but people are still reporting issues.

[2014-04-23 20:22] #8 closed, assigned to nobody

[2014-04-25 16:41] asonnenschein opened #9 "Unreliable JAI link"
We use the Java Advance Image library to boost performance in Geoserver; twice now the link for cURL-ing the download link has died/moved.  We should consider hosting our own copy somewhere.

For now this is mitigated [by not executing the JAI code](https://github.com/ngds/install-and-run/blob/master/installation/install-ngds.sh#L1288) which works because JAI isn't necessary to run the stack.

[2014-05-29 23:45] #9 closed, assigned to nobody

[2014-05-29 23:46] asonnenschein opened #11 "Install PostGIS w/ PyCSW"
Do a source install of PostGIS into the PyCSW database before running PyCSW's initialize function.

[2014-10-15 20:03] #1 closed, assigned to nobody

[2014-11-19 22:46] #11 closed, assigned to nobody

[2014-11-21 15:38] ccaudill opened #15 "not able to harvest from GINstack installation"
Test installation up at http://ginstack.usgin.org/
Attempted to harvest from catalog.usgin.org/geothermal/csw as an NGDS CSW. The catalog is functioning and is being harvested successfully by the main aggregator at www.geothermaldata.org

[2014-11-24 02:15] senoadiw opened #16 "Update the NGDS installation documentation (NGDS_Installation_Documentation.htm)"
Greetings,

I wanted to try installing NGDS on a Ubuntu machine per the instructions provided at http://ngds.github.io/install-and-run/NGDS_Installation_Documentation.htm however it seems that the setup script in this repo has been updated for Centos. Is it possible to get the Ubuntu version of the setup script?

Cheers!

[2014-11-28 07:53] #16 closed, assigned to nobody

[2014-12-01 22:16] ccaudill opened #17 "Cannot resolve host NGDS-RPM-SERVER"
@FuhuXia
@lukejbuckley

User downloading the installation script and has hit an error: "error #6 cannot resolve host, NGDS-RPM-SERVER"

[2014-12-01 22:23] #17 closed, assigned to nobody

[2014-12-01 22:40] ccaudill opened #18 "yum-config-manager: command not found"
yum install -y libxml2-2.9.0 gdal-1.9.2 gdal-python-1.9.2 gdal-devel-1.9.2 yum-utils

next error - trying to run the install command on line 8 of the instructions...

![gin-error](https://cloud.githubusercontent.com/assets/3188489/5254690/4786ad64-7970-11e4-94ba-13c974d68df1.JPG)

@FuhuXia
@lukejbuckley

[2014-12-02 19:59] #18 closed, assigned to nobody

[2014-12-05 15:27] ccaudill opened #19 "hung up on the ngds.ckan install"
I was able to download, update and install almost everything. However, at the very end, it hung up on the ngds.ckan install. After about 10 minutes, when I could see that it was just repeatedly sleeping for 5 seconds, I interrupted things. I have included as much of the output as was still on the screen when I thought to copy it:

libxml2/primary_db                                       | 5.6 kB

[2014-12-11 16:26] ccaudill opened #20 "Edits to records result in metadata being deleted in UI"
Hi Christy –
I’m attaching a couple of photos of a bug in your GINStack web software.
When I went back to edit one of the entries I had previously published it wiped out most of the information in the Author, Resource Contact, etc. entries.
It’s going to be very annoying if I have to re-do the whole record each time I need to make a correction.
Thanks,
Luke

@lukejbuckley
@FuhuXia

After Editing
!

[2014-12-18 02:53] #15 closed, assigned to nobody

[2014-12-18 23:36] ccaudill opened #21 "need update instructions"
Please leave text at the Readme of this repo describing for users how to update after installation. THanks!

[2014-12-18 23:37] #19 closed, assigned to nobody

[2014-12-23 21:22] smrazgs opened #22 "pycsw install seems to be missing"
http://ckanext-spatial.readthedocs.org/en/latest/csw.htmlhttp://ckanext-spatial.readthedocs.org/en/latest/csw.html

Or is the pycsw install buried somewhere?

the v1 installer from last May (https://github.com/ngds/install-and-run/archive/v1.zip) has shell script procedures for installing pycsw; not sure how this would translate to rpm

[2014-12-23 22:59] smrgeoinfo opened #23 "updata gh-pages instructions"
http://ngds.github.io/install-and-run/NGDS_Installation_Documentation.htm  instructions have to do with the v1 installer from Siemens. This will be deprecated when we roll out the new installer from REI; these instructions need to be updated to reflect new installer

[2014-12-30 21:08] #21 closed, assigned to nobody

[2015-01-06 17:18] ccaudill commented on #20
@lukejbuckley It looks like you just run the update script: https://github.com/ngds/install-and-run#updating-ngds
It might be worth it to wait until the GeoServer (services publication) code is finished, though!

[2015-01-06 17:26] lukejbuckley commented on #20
I think I’ll wait. Looks like several other issues are being worked on. Thanks!

Luke Buckley | Computer Software Engineer
MBMG | Montana Tech
1300 W Park St, NRB 329 A | Butte, MT 59701

From: Christy Caudill [mailto:notifications@github.com]
Sent: Tuesday, January 06, 2015 10:19 AM
To: ngds/install-and-run
Cc: Buckley, Luke
Subject: Re: [install-and-run] Edits to records result in metadata being

[2015-01-16 16:37] ccaudill commented on #22
I got it set up on my local with the sample database from Adrian, seems all is working with no errors. Then I run the command "ckan-pycsw load”, which loads datasets from ckan api into csw database. Then I run “datastore-pycsw load”, which immediately deletes all records from csw database.
Can you let me know whether this is the correct behavior, or, let me know the best way to verify that pycsw i

[2015-01-20 23:03] ccaudill opened #24 "Turning off user creation"
Is there a way to disable new user creation in your software?
I’ve got two new users on the MBMGGIN machine…
Hacked By KingSkrupellos Cyberizm Islam Army
And
hacked by slayershackteam
@lukejbuckley @FuhuXia

[2015-01-21 17:14] FuhuXia commented on #24
You can ssh into the server, modify file `/etc/ckan/production.ini`, and give variable `ckan.auth.create_user_via_web` a value of `false`, then restart apache.

[2015-01-21 17:29] lukejbuckley commented on #24
Thank you, that was successful.

From: Fuhu Xia [mailto:notifications@github.com]
Sent: Wednesday, January 21, 2015 10:14 AM
To: ngds/install-and-run
Cc: Buckley, Luke
Subject: Re: [install-and-run] Turning off user creation (#24)

You can ssh into the server, modify file /etc/ckan/production.ini, and give variable ckan.auth.create_user_via_web a value of false, then restart apache.

—
Reply to th

[2015-01-22 18:01] ccaudill commented on #22
@FuhuXia
We need to be sure that harvested data is actually using the USGIN standard, and that we're getting USGIN ISO metadata from a harvest. This was actually in the code here: https://github.com/ngds/ckanext-metadata where Adrian had said that he used Steve's custom federated standard for publish/harvest of metadata, but it needs testing. @smrazgs Can you confirm that this custom standard that

[2015-01-25 19:33] ccaudill commented on #22
Pycsw has been integrated into RPM and can be demo’ed at uat server at http://uat-ngds.reisys.com.  I will publish the rpm once you confirm that everything is working as expected.
Thanks,
Fuhu

[2015-01-25 20:06] ccaudill commented on #22
@FuhuXia
I tried to harvest it in at http://demo.geothermaldata.org/harvest/test-rei-pycsw-test/job and it seems to have the same issue as before. It's not harvesting in. The message indicates that the job never starts.

[2015-01-26 03:12] FuhuXia commented on #22
Job not starting indicates there is some problem with the harvester. Without shell access it is hard to debug. The easiest solution is to reboot the server. To harvest from uat server, make sure you use `http://uat-ngds.reisys.com/csw` as harvest source. Without `/csw` it is not valid source.

[2015-01-26 21:10] ccaudill commented on #22
I see the same thing when testing at our live site, which we know harvests correctly. Any thoughts?
http://www.geothermaldata.org/harvest/test-rei-pycsw-test/job

[2015-02-02 19:21] ccaudill commented on #22
@FuhuXia Can you please tell us where you are on this task?  Is there anything we can test for you?

[2015-02-03 23:58] FuhuXia commented on #22
@ccaudill Please install the new version rpm on a fresh CentOS 6.6 box, then test pycsw harvesting using our UAT as source. The instruction should be same as described in the **Deployment on Your Own Server** part of [readme file](https://github.com/ngds/install-and-run/blob/master/README.md). I updated it with a few steps to change the external url in files `/etc/ckan/production.ini` and `/var/li

[2015-02-04 16:20] ccaudill commented on #22
Excellent, will do. Thanks @FuhuXia

[2015-02-06 04:05] ccaudill commented on #22
@FuhuXia  @smrazgs
I'm having some issues in harvesting in the new build CSW, and am still unable to get it to harvest into another instance.
We have 2 servers with the new rpm, running CentOS6.6. The 'GINstack' test server has successfully harvested in something: http://159.87.39.4/harvest/admin/michigan-geological-survey-ngds-node
But when I try to harvest from that server to another instance, t

[2015-02-06 04:25] ccaudill commented on #22
I also tried harvesting in from the REI UAT: http://159.87.39.5/harvest/test-rei-pycsw-test
It hasn't finished yet, but doesn't seem to be harvesting in either.

[2015-02-06 15:31] FuhuXia commented on #22
http://159.87.39.4/ looks fine to me. Can you modify the file /etc/cron.d/ckan-pycsw and delete everything after && so it reads:
`0 1 * * * root /usr/lib/ckan/bin/paster --plugin=ckanext-spatial ckan-pycsw load -p /etc/ckan/pycsw.cfg >> /var/log/ckan-pycsw-loader.log 2>&1`
This way we can get the csw into db. Without it the csw db will remain empty because second command delete everything.

For ht

[2015-02-06 17:41] ccaudill commented on #22
@FuhuXia  Here are the last 50 lines from the harvester log -

2015-02-06 10:15:37,305 DEBUG [ckanext.harvest.model] Harvest tables defined in memory
2015-02-06 10:15:37,308 DEBUG [ckanext.harvest.model] Harvest tables already exist
2015-02-06 10:15:37,363 INFO  [ckanext.harvest.logic.action.update] Harvest job run: {}
2015-02-06 10:15:37,399 INFO  [ckanext.harvest.logic.action.update] No new harv

[2015-02-06 17:44] ccaudill commented on #22
@FuhuXia I can modify the file /etc/cron.d/ckan-pycsw but I don't understand why that needs to be done. Could you explain? Thank you

[2015-02-06 17:49] ccaudill commented on #22
@FuhuXia Here are the last 50 lines from the gather-consumer log:

[root@localhost log]# 2015-02-06 10:15:37,305 DEBUG [ckanext.harvest.model] Harvest tables defined in memory
2015-02-06 10:15:37,308 DEBUG [ckanext.harvest.model] Harvest tables already exist
-bash: 2015-02-06: command not found
2015-02-06 10:15:37,363 INFO  [ckanext.harvest.logic.action.update] Harvest job run: {}
2015-02-06 10:15

[2015-02-06 17:51] ccaudill commented on #22
@FuhuXia and the fetch-consumer:

[root@localhost log]# tail -n 50 fetch-consumer.log
2015-02-05 15:34:30,580 DEBUG [ckanext.spatial.model.package_extent] Spatial tables defined in memory
2015-02-05 15:34:30,619 DEBUG [ckanext.spatial.model.package_extent] Spatial tables already exist
2015-02-05 15:34:30,639 DEBUG [ckanext.harvest.model] Harvest tables defined in memory
2015-02-05 15:34:30,646 DEB

[2015-02-06 18:46] ccaudill commented on #22
@FuhuXia This doesn't seem to be a problem with the harvester, I suppose, because I am able to get a harvest from a source that's not a CKAN GINstack (rpm install).
http://159.87.39.5/harvest/test-usgin-catalog-harvest/job
I hope that helps...

[2015-02-06 19:42] FuhuXia commented on #22
the reason for the /etc/cron.d/ckan-pycsw change is explained in my previous comment:
[code]
So let us stop the 2nd command "datastore-pycsw load" from running on 159.87.39.4 for now. The 1st command  `ckan-pycsw load` will add all harvested records into csw, then your 159.87.39.5 will be able to harvest from 159.87.39.4.

The reason for 159.87.39.5 not harvesting from our UAT, according to the lo

[2015-02-06 19:51] ccaudill commented on #22
[root@localhost ~]# ping uat-ngds.reisys.com
PING uat-ngds.reisys.com (65.242.96.26) 56(84) bytes of data.

[2015-02-06 19:53] ccaudill commented on #22
@FuhuXia  Is there a way to get more granularity in the logs? For instance, looking at each http request to the server you're attempting to harvest from?

[2015-02-06 20:10] FuhuXia commented on #22
The log is combined for all harvest jobs. But since you only have three sources, it is easy to put a watch on one harvest source. Here is what you can do:

1. Comment out the cron job in file /etc/cron.d/ckan-harvest. We will run it manually.

2. From web gui, make sure all other harvest jobs is not running. Then do a re-harvest (or clear and re-harvest) on the source you want to look at.

3. Watc

[2015-02-06 20:21] ccaudill commented on #22
If we are using a fresh install, why are we having these issues and you not?

[2015-02-06 20:30] FuhuXia commented on #22
I did the same change on my uat server. If not, my csw will also be nearly empty. Records harvested from external source will be removed from csw db, only manually created datasets will stay in csw db.

[2015-02-06 20:46] smrazgs commented on #22
So is the problem that Christy is harvesting records into CKAN, but they're not sticking in the CSW database, only going into the CKAN dataStore?  I thought Adrian had fixed that problem so that harvested records would be visible for harvesting out. Did that get lost?

[2015-02-06 20:51] ccaudill commented on #22
@FuhuXia  I edited the etc/cron.d/ckan-pycsw  on 159.87.39.4 and then tried harvesting back into 159.87.39.5 with same results as previous: http://159.87.39.5/harvest/admin/azgs-ginstack-test-harvest

[2015-02-06 20:58] FuhuXia commented on #22
@smrazgs That is right. The current ckanext-datastorecsw code will delete most csw records, if not all.

@ccaudill The csw cron jon will start at 1am. You can manually run it via this command:
`/usr/lib/ckan/bin/paster --plugin=ckanext-spatial ckan-pycsw load -p /etc/ckan/pycsw.cfg`, after done, try reharvest from 159.87.39.5.

[2015-02-06 21:05] ccaudill commented on #22
@FuhuXia Okay, will do - thanks!

It sounds like we the correct thing is to ensure that the records are available for harvest, correct?

[2015-02-06 21:05] smrazgs commented on #22
@asonnenschein -- didn't you fix the harvester so the harvested-in records are accessible to pyCSW to be harvested out?

[2015-02-09 04:36] ccaudill commented on #22
I was able to successfully harvest from the REI UAT: http://159.87.39.5/harvest/admin/test-rei-pycsw-test but not ours at 159.87.39.4  - I think we've narrowed down what's going on here though.

[2015-02-09 19:36] ccaudill commented on #22
As a side note, we are very anxious to get this and https://github.com/ngds/ckanext-geoserver/issues/7 resolved; here is a note from one of our partners who installed the GINstack:
"How is the node-in-a-box bug removal going? We have some upcoming deliveries to make for our play-fairway grant coming up and it would be good to know the status so that we can plan work-arounds"

[2015-02-09 20:18] asonnenschein commented on #22
@smrazgs What you're describing should be the default behavior of the CKAN harvester; there shouldn't have been anything to fix.  Harvested in data gets inserted into the PyCSW DB via execution of a command line tool that should be running regularly in a CRON job.

@FuhuXia What exactly got lost?  (Ckanext-datastorecsw)[https://github.com/ngds/ckanext-datastorecsw#command-line-interface] hasn't be

[2015-02-09 21:25] FuhuXia commented on #22
I am running the two load commands (`ckan-pycsw load` and  `datastore-pycsw load`) side by side in https://github.com/ngds/install-and-run/blob/master/rpm_install/etc/cron.d/ckan-pycsw#L2

The default behavior of csw load command is to add/update/delete csw datasets and make it consistent with ckan db per **its own query**. If the queries are different in the two loads commands, we can expect that

[2015-02-09 22:04] smrazgs commented on #22
Why are both load commands getting run? Doesn't datastore-pycsw synchronize the pycsw db with the datastore db?

[2015-02-09 22:35] FuhuXia commented on #22
Both commands are in the original upstart script, therefore they both go to cron jobs. If only one is supposed to run, I guess it is `datastore-pycsw load`. I can do this in UAT server, then out of the 9000+ datasets, only a handful of them will go to csw database. Please confirm this is expected behavior.

[2015-02-12 15:58] ccaudill commented on #22
Notes from 20150210 meeting: everything needs to go into CSW (harvested and published), so he'll modify the second cron job. We're on the same page now. - We'll make those modifications now.

[2015-02-17 17:20] FuhuXia commented on #22
this is fixed in https://github.com/REI-Systems/ckanext-datastorecsw/commit/016ec77163dfc84a024302db09fa545be81746bf. a new rpm is in process to include this change.

[2015-02-17 17:22] ccaudill commented on #22
Excellent!  Please let us know when we can update our install. Thanks

[2015-02-18 19:05] FuhuXia commented on #22
rpm version 306 is ready. you can update existing instance with command `yum clean metadata && yum update ngds.ckan`

[2015-02-18 23:03] ccaudill commented on #22
I've updated and restarted apache on both of our test machines. I get the exact same result when attmepting to harvest from one into another - no records. Still getting the error " 	Error contacting the CSW server: <urlopen error [Errno 113] No route to host>"
@FuhuXia

[2015-02-19 17:04] FuhuXia commented on #22
the issue you are having is network issue. one of your server cant reach the other. do a ping request on the command line to confirm the issue.

[2015-02-23 18:56] ccaudill commented on #22
Thanks @FuhuXia I'm looking into that problem now and then I'll retry the harvests and let you know.

[2015-02-23 20:31] ccaudill commented on #22
@FuhuXia We figured out that due to state ports, I needed to use the internal IP address http://10.208.3.122/csw. Now the error message changed to:
No records received from the CSW server
When there are 38. Any thoughts?

[2015-02-26 20:07] ccaudill commented on #22
we had a new node test the update rpm using:
yum clean metadata && yum update ngds.ckan
Now, when I hit http://mbmggin.mtech.edu/csw  or
http://mbmggin.mtech.edu/csw?request=GetCapabilities&Service=CSW&Version=2.0.2
I get the error message "Could not load repository (local): (OperationalError) FATAL:  database "pycsw" does not exist
 None None"
Thoughts??

[2015-02-26 20:20] FuhuXia commented on #22
the rpm update path wont do any database change. the pycsw db was introduced in last two or three rpm version. So, if you are updating from an older version, you will need to manually add pycsw db.
[code]

[2015-02-26 20:40] ccaudill commented on #22
thanks - this is really important as all of our new nodes installed late last year and are waiting for these updates.

[2015-02-26 23:27] ccaudill commented on #22
From the user:
"when I try to run cmd#1  (in the postgis-1.5 directory) now get
Created: database creation failed: ERROR:  database "pycsw" already exists"

And from http://mbmggin.mtech.edu/csw I now see:
"<ows:ExceptionText>Could not load repository (local): records</ows:ExceptionText>"

[2015-03-09 17:00] ccaudill commented on #22
@FuhuXia Could you give us some direction on what needs to be done with this install?  I believe someone was going to updated the ReadMe https://github.com/ngds/install-and-run to include information on what users needed to do who installed in the Nov timeframe of last year? Here's what this node provider said. "We actually installed mid-late November when it first came out I thought. It said upda

[2015-03-10 17:53] FuhuXia commented on #22
Readme file updated. Instruction for updating from rpm prior to 300 has been added.

[2015-03-10 19:00] ccaudill commented on #22
@lukejbuckley https://github.com/ngds/install-and-run#updating-ngds Looks like pretty great instructions (if a lot of manual work). If you have the time, it would be great if you could do this update so we can continue testing. Thanks for your support!

[2015-03-10 19:05] ccaudill commented on #22
@FuhuXia Thank you.  Might there be a way around the user having to do anything with the production.ini file?

[2015-03-10 19:13] FuhuXia commented on #22
One parameter in production.ini is related the external url. Its value is unique to each and every instance, in order to make the datapusher and geoserver preview works. It has to be set manually. Hopefully the user has to do it only once... until next time we change some config in production.ini, which does not happen often unless we are introducing some new extensions/plugins.

[2015-03-10 19:35] lukejbuckley commented on #22
To be clear…

I need to

1.       replace production.ini with production.ini.rpmnew

2.       then edit production.ini to fix the ckan.hostname

3.       fix proxyBaseUrl in global.xml

Luke Buckley | Computer Software Engineer
MBMG | Montana Tech
1300 W Park St, NRB 329 A | Butte, MT 59701

From: Fuhu Xia [mailto:notifications@github.com]
Sent: Tuesday, March 10, 2015 1:13 PM
To: ngds/install-and

[2015-03-11 00:48] FuhuXia commented on #22
@lukejbuckley
That is correct. Any time if there is a production.ini.rpmnew file shows up after rpm update, you need to re-do the (1) and (2).  Step(3) need to be done once. And if you are coming from rpm version 300 or before, you need to do the manual database changes as listed.

[2015-03-11 15:46] lukejbuckley commented on #22
@fuhuxia @ccaudill

Following is the contents of my global.xml (/var/lib/tomcat6/webapps/geoserver/data) file. There is no proxyBaseUrl element with a value of 127.0.0.1 to replace. Do I need to add it somewhere? Or ignore the step?

<global>
  <contact>
    <addressCity>Alexandria</addressCity>
    <addressCountry>Egypt</addressCountry>
    <addressType>Work</addressType>
    <contactEmail>claudi

[2015-03-11 15:53] FuhuXia commented on #22
Thanks for the catch. we have updated the global.xml file after rpm 300 but i missed the step in instrucitons for 200 and previous.
[code]
make changes to proxyBaseUrl per instruction, then
[code]
I will update the Readme file later.

[2015-03-11 16:37] lukejbuckley commented on #22
@fuhuxiz @ccaudill

That part worked.

I still get the following when I try to start the db statements

[root@MBMGGIN tmp]# sudo -u postgres createdb -O ckan_default pycsw -E utf-8
createdb: database creation failed: ERROR:  database "pycsw" already exists

From: Fuhu Xia [mailto:notifications@github.com]
Sent: Wednesday, March 11, 2015 9:54 AM
To: ngds/install-and-run
Cc: Buckley, Luke
Subject: R

[2015-03-11 16:47] FuhuXia commented on #22
@lukejbuckley
It is ok, not sure which version you are updating from, but the pycsw table has be created by rpm or some manual process. Anyway, just move on the finish all the commands. It does not hurt anything to run those commands on existing database.

[2015-03-11 18:19] lukejbuckley commented on #22
@ccaudill

All the steps are finished on my end. Test away.

From: Christy Caudill [mailto:notifications@github.com]
Sent: Tuesday, March 10, 2015 1:00 PM
To: ngds/install-and-run
Cc: Buckley, Luke
Subject: Re: [install-and-run] pycsw install seems to be missing (#22)

@lukejbuckley<https://github.com/lukejbuckley> https://github.com/ngds/install-and-run#updating-ngds Looks like pretty great instr

[2015-03-12 14:09] ccaudill commented on #22
Thanks @lukejbuckley @FuhuXia I'm testing a harvest from the MT node this morning.

[2015-03-12 14:55] ccaudill commented on #22
@FuhuXia Latest attempt to harvest.... For the last half hour or so, the message in the UI http://159.87.39.5/harvest/admin/montana-geological-survey-ngds-node has said "Running" with nothing being harvested in. Here is the harvester log:

[root@localhost ~]# tail -n 50 /var/log/harvester_run.log
2015-03-12 07:30:20,129 DEBUG [ckanext.harvest.model] Harvest tables defined in memory
2015-03-12 07:3

[2015-03-12 15:21] FuhuXia commented on #22
the log looks fine. please post the other two logs to see if there is any error.
`tail -n 20 /var/log/gather-consumer.log`
`tail -n 20 /var/log/fetch-consumer.log`

I also tried on my local. It shows http://mbmggin.mtech.edu/csw contains no record.

[2015-03-12 16:13] ccaudill commented on #22
[root@localhost ~]# tail -n 20 /var/log/gather-consumer.log
    params)
  File "/usr/lib/ckan/lib/python2.6/site-packages/sqlalchemy/engine/base.py", line 1584, in _execute_clauseelement
    compiled_sql, distilled_params
  File "/usr/lib/ckan/lib/python2.6/site-packages/sqlalchemy/engine/base.py", line 1698, in _execute_context
    context)
  File "/usr/lib/ckan/lib/python2.6/site-packages/sqlalc

[2015-03-12 16:13] ccaudill commented on #22
[root@localhost ~]# tail -n 20 /var/log/fetch-consumer.log
2015-02-18 15:21:28,049 DEBUG [ckanext.spatial.model.package_extent] Spatial tables defined in memory
2015-02-18 15:21:28,074 DEBUG [ckanext.spatial.model.package_extent] Spatial tables already exist
2015-02-18 15:21:28,092 DEBUG [ckanext.harvest.model] Harvest tables defined in memory
2015-02-18 15:21:28,095 DEBUG [ckanext.harvest.model]

[2015-03-12 16:49] FuhuXia commented on #22
If the harvest job status still stays at running, you can clear and re-harvest the job. It does not hurt to run a command `supervisorctl restart all` before doing that.

[2015-03-12 23:52] ccaudill commented on #22
So the error message after it ran was "No records received from the CSW server".
What do you think is going on here?  There's clearly records (44) in this CKAN instance: http://mbmggin.mtech.edu/dataset

But it is strange that
http://mbmggin.mtech.edu/csw?request=GetRecords&service=CSW&version=2.0.2
Doesn't give you the response you'd expect, which is this:
http://catalog.stategeothermaldata.org/g

[2015-03-13 18:15] ccaudill commented on #22
@FuhuXia pyCSW will harvest in everything, correct? Resources which were published on the node as well as those which were harvested into that node?  It seems that harvests are working, but we can't seem to get a CKAN-CKAN harvest working. MT node only has harvested resources, and no published resources.

[2015-03-13 18:54] ccaudill commented on #22
@FuhuXia Could you tell us what the DB, username, and password would be for Postgres the install in the rpm? We'd like to take a look and see if the data is getting populated correctly there, and if there is something lost between Postgres and CKAN's data store.

[2015-03-13 19:23] FuhuXia commented on #22
@ccaudill
You can see there are two commands in the pycsw cron jobs.
https://github.com/ngds/install-and-run/blob/master/rpm_install/etc/cron.d/ckan-pycsw#L2
the first `ckan-pycsw load` command will load any harvested data. The second `datastore-pycsw load` command will load local data that fit in this criteria.
https://github.com/ngds/ckanext-datastorecsw/blob/master/bin/datastore_pycsw.py#L74
If

[2015-03-17 17:29] FuhuXia commented on #22
@ccaudill
For the the MT server published dataset no going to csw issue, can you run the command and provide the output?
`/usr/lib/ckan/bin/paster --plugin=ckanext-spatial ckan-pycsw load -p /etc/ckan/pycsw.cfg && /usr/lib/ckan/bin/paster --plugin=ckanext-datastorecsw datastore-pycsw load -p /etc/ckan/pycsw.cfg`

[2015-03-17 18:29] FuhuXia commented on #22
@smrazgs
Let us split the command into two commands and run them one after the other. Please post results, you can trim off repetitive ones, if any.

`/usr/lib/ckan/bin/paster --plugin=ckanext-spatial ckan-pycsw load -p /etc/ckan/pycsw.cfg`

`/usr/lib/ckan/bin/paster --plugin=ckanext-datastorecsw datastore-pycsw load -p /etc/ckan/pycsw.cfg`

[2015-03-17 19:55] smrazgs commented on #22
I ran the commands on 159.87.39.5
First one seemed to work OK, lots of inserts with GUIDS, and fails on duplicate GUIDS

Second one gagged, here's the beginning of the console output:

[root@localhost ~]# /usr/lib/ckan/bin/paster --plugin=ckanext-datastorecsw datastore-pycsw load -p /etc/ckan/pycsw.cfg

-bash: syntax error near unexpected token `command,'

[root@localhost ~]#   File "/usr/lib/ckan

[2015-03-17 20:08] smrazgs commented on #22
on 159.87.39.4:

login as: root
root@159.87.39.4's password:
Last login: Thu Feb 26 14:22:35 2015 from 10.208.1.175
[root@localhost ~]# /usr/lib/ckan/bin/paster --plugin=ckanext-spatial ckan-pycsw load -p /etc/ckan/pycsw.cfg
/usr/lib/ckan/lib/python2.6/site-packages/sqlalchemy/engine/reflection.py:47: SAWarning: Did not recognize type 'tsvector' of column 'anytext_tsvector'
  ret = fn(self, con, *

[2015-03-17 20:09] smrazgs commented on #22
this wfs request now works:
http://159.87.39.4/csw?request=GetRecords&version=2.0.2&service=CSW&typeNames=csw:Record&resultType=results&outputFormat=application/xml&ElementSetName=brief

[2015-03-19 22:19] ccaudill commented on #22
It looks like Postgres is not listening...

[root@localhost ~]# netstat -antup | grep 5432
tcp        0      0 0.0.0.0:5432                0.0.0.0:*                   LISTEN      12579/postmaster
tcp      111      0 127.0.0.1:56744             127.0.0.1:5432              CLOSE_WAIT  2761/demo
tcp      111      0 127.0.0.1:52643             127.0.0.1:5432              CLOSE_WAIT  1412/python
tcp

[2015-03-19 22:47] ccaudill commented on #22
FYI - I had to run the following command for Postgres to allow a connection and to not be rejected to traffic:
iptables -I INPUT 1 -p tcp --dport 5432 -j ACCEPT
(ran it in 10.208.3.122/159.87.39.4)

[2015-03-19 22:54] ccaudill commented on #22
You actually have to run these commands so that it sticks:

iptables -I INPUT 1 -p tcp --dport 5432 -j ACCEPT
service iptables save
service iptables restart

This should be in the rpm??

[2015-03-20 15:15] ccaudill commented on #22
@FuhuXia @smrazgs @dan-olaru-reisys It FINALLY harvested in!!!
http://10.208.3.104/harvest/azgs-ginstack-test-harvest/job/14da6a65-257a-428b-ac64-feae305125c1
 The fact that the CentOS firewall is set to automatically stop traffic to/from Postgres in a GINstack build seems to have been the problem.

@lukejbuckley - Might you have time to try and run these commands, then we'll try a harvest again f

[2015-03-20 15:31] lukejbuckley commented on #22
@ccaudill I ran the commands and restarted the machine.

From: Christy Caudill [mailto:notifications@github.com]
Sent: Friday, March 20, 2015 9:15 AM
To: ngds/install-and-run
Cc: Buckley, Luke
Subject: Re: [install-and-run] pycsw install seems to be missing (#22)

@FuhuXia<https://github.com/FuhuXia> @smrazgs<https://github.com/smrazgs> @dan-olaru-reisys<https://github.com/dan-olaru-reisys> It FIN

[2015-03-20 15:35] ccaudill commented on #22
@FuhuXia
Okay, since Luke has run those commands, and from
http://mbmggin.mtech.edu/csw?request=GetCapabilities&Service=CSW&Version=2.0.2
I'm still getting the error message, "Connection refused
	Is the server running on host "127.0.0.1" and accepting
	TCP/IP connections on port 5432?"
It is clear that in the rpm for a GINstack, the postgresql.conf and the pg_hba.conf  have to be edited to allow t

[2015-03-20 15:41] FuhuXia commented on #22
@ccaudill
For the port 5432 firewall rule change, do you have to make the change to all ngds servers, or just one particular server? If I set up some fresh instances on amazon with the rpm installed, can you replicate the issue on the fresh instances?

The reason I want to check it this way is that we definitely don't want to enable this firewall rule on any public ngds server. We are using a defa

[2015-03-20 15:44] ccaudill commented on #22
Thanks @FuhuXia The port has to be open to 5432 for the harvest to work, and that is not how it comes in the install. Sure, if you set up some fresh ones, I can recreate this. It is simply about editing those two files to allow traffic on 5432 and to allow anyone to access the data. This is what we want - it is the idea that public access is allowable to these servers - anyone should be able to ha

[2015-03-20 15:50] FuhuXia commented on #22
Harvesting is done via web api at the port 80. The local communication between ckan and postgresql does not need firewall rule change on port 5432. Ok, I will launch an fresh ngds server and we can work on that one to solve the mystery PostgreSQL port issue.

[2015-03-20 15:52] ccaudill commented on #22
We did this test systematically, and all of those things had to happen before a harvest was successful. It will be interesting with a fresh server - let me know when I can help.

[2015-03-20 17:01] FuhuXia commented on #22
@ccaudill
Ok, this instance was started with centos 6.4 with rpm 303 a few weeks ago. I just updated it to rpm 307. It can harvest datasets in, and can be harvested out. No special firewall about port 5432. Can you go through the site and point out which part is not functioning as expected? Let me know if you need ckan or ssh access.
http://184.73.219.216/dataset

[2015-03-20 17:07] ccaudill commented on #22
I can see that I actually get a response from http://184.73.219.216/csw?request=GetCapabilities&Service=CSW&Version=2.0.2 so it seems to be working from all your installs, but not ours or our partners installs.  Should we ask (as soon as the issue https://github.com/ngds/ckanext-geoserver/issues/7 is resolved) to completely empty their server and install this new build?  Since I do get a response

[2015-03-20 18:54] FuhuXia commented on #22
@ccaudill
If we can find an easy and reliable way to replicate the issue yuou are experiencing on a freshly installed instance, it makes much easier for me to fix it. This way you don't have to wipe your existing servers. If not, then starting new might make more sense.

[2015-03-20 19:54] ccaudill commented on #22
thanks @FuhuXia, we'll try that!

[2015-03-20 20:03] ccaudill commented on #22
@FuhuXia  I wonder if you could provide me the postgresql.conf and the pg_hba.conf files from your fresh install, just so I can compare with what we had on a fresh install?

[2015-03-20 20:45] smrazgs commented on #22
@ccaudill @FuhuXia  this issue thread is pretty far from the topic line above. Please start new issues when discussing a different problem-- that will make it easier to find things in the issue tracker. You could reference the beginning of the discussion in another thread for situations like this where a problem evolves.

[2015-03-20 22:26] ccaudill opened #25 "Local host and 5432 port blocks causing harvest not to work"
https://github.com/ngds/install-and-run/issues/22
See comments from me since 3/19

In both our installs as well as MTs, we had to do the following to get connections to Postgres and to harvest:
run commands:
iptables -I INPUT 1 -p tcp --dport 5432 -j ACCEPT
service iptables save
service iptables restart

Then, you have to get into the /var/lib/pgsql/9.1/data/postgresql.conf and edit those files.

[2015-03-20 22:28] ccaudill commented on #22
@FuhuXia Can you comment on Steve's from 3/17 above? It seems that those commands got the CSW working. Are those something that can do into the harvest process?

Comments after that regarding Postgres and harvesting can be carried on at https://github.com/ngds/install-and-run/issues/25 as they don't really have bearing on just whether or not the pyCSW is being properly populated. ... Sorry for goi

[2015-03-26 18:41] ccaudill commented on #25
Our servers were wiped and re-installed today. CKAN-CKAN harvest is still NOT working.
Here's the working CSW capabilities:
http://test.geothermaldata.org/csw?request=GetCapabilities&Service=CSW&Version=2.0.2
But the error on harvest is still the same as before the reinstall:
![harvesterror](https://cloud.githubusercontent.com/assets/3188489/6854053/0705f7b8-d3ac-11e4-95a0-32c56bf0bb19.PNG)

We di

[2015-03-26 18:45] ccaudill commented on #25
ftp://AZGS:sharefiles@secureftp.azgs.az.gov/AZGS/ccaudill/postgresql.conf
ftp://AZGS:sharefiles@secureftp.azgs.az.gov/AZGS/ccaudill/pg_hba.conf
The username is: AZGS
The password is: sharefiles

[2015-03-26 20:48] smrazgs commented on #25
can we harvest from http://uat-ngds.reisys.com/

[2015-03-30 19:23] dan-olaru-reisys commented on #25
@ccaudill I just talked to Fuhu about this. Can we have a clean instance to that @FuhuXia  can install the rpm by himself and try to debug (also #22 )

final.geothermaldata.org should work (clean instance of centos 6.6)

[2015-03-30 23:50] smrazgs commented on #25
Sorry, clean instance to what?  I'm not sure what you need.

[2015-03-30 23:55] dan-olaru-reisys commented on #25
@smrazgs  virtual server instance with minimal centos 6.6 installed on it. @ccaudill

[2015-03-31 17:50] smrazgs commented on #22
pycsw is working on the current rpm install e.g.
http://uat-ngds.reisys.com/csw?request=GetRecords&version=2.0.2&service=CSW&typeNames=csw:Record&resultType=results&outputFormat=application/xml&ElementSetName=brief

The issue is not the pycsw installation but the firewall and security issues in the OS. Close this issue, and see #25

[2015-03-31 17:50] #22 closed

[2015-03-31 18:29] smrazgs commented on #24
@FuhuXia-- perhaps ckan.auth.create_user_via_web = false  should be the default on new node installations?

[2015-04-01 00:04] smrazgs commented on #25
clean server up and running,

[2015-04-10 19:58] ccaudill commented on #25
Fuhu has tested and harvest is working to and from. Just asked AL (Denise Hills) to dump and reinstall her GINstack to ensure we can harvest from that. It's close!

[2015-04-21 20:29] ccaudill commented on #22
http://final.geothermaldata.org/harvest/admin/geological-survey-of-alabama-gin-stack
@dan-olaru-reisys This test harvest has been RUnning for an hour and a half and nothing has harvested. Might you have any suggestions? This is the important test before we can move forward with a v2

[2015-04-21 20:40] smrazgs commented on #22
Christy-- there are 10 records showing as harvested fro this source now, consistent with what I get with a csw request:
http://ginstack.gsa.state.al.us/csw?request=GetRecords&version=2.0.2&service=CSW&typeNames=csw:Record&outputSchema=http://www.isotc211.org/2005/gmd&resultType=results&outputFormat=application/xml&ElementSetName=full&maxRecords=20

I think its working

[2015-04-21 21:08] ccaudill commented on #22
WOOHOO!  I'm not sure why it took so long, but it is working!

[2015-04-27 20:17] smrazgs commented on #25
AL harvest worked, this is resolved, close (if there's some other detail, make new issue)

[2015-04-27 20:17] #25 closed

[2015-05-22 16:23] ccaudill opened #26 "Internal Server Errors on new Amazon-hosted GINstack install"
I built a new instance on Amazon and test loaded a couple of CSV datasets. I keep getting messages about an “Internal Server Error” so I not sure if things are going at all right. The IP for the new server is:
52.5.202.58
Is there any chance you can see what is wrong and let me know what I should do next? The error crops up anytime I try to include or edit metadata.

per @dano-reisys:
Can you tell

[2015-05-22 16:25] ccaudill commented on #26
This was on an Amazon EC2 instance. I'm not sure the size that was chosen; should we indicate that a t2.medium is needed? http://aws.amazon.com/ec2/instance-types/

[2015-05-26 20:42] ccaudill commented on #26
Error logs, received by email:

 [root@ip-172-31-34-93 httpd]# dir
access_log                ckan.custom.log-20150524  ckan.error.log-20150524         datapusher.error.log           error_log-20150512
ckan.custom.log           ckan.error.log            datapusher.custom.log           datapusher.error.log-20150513  error_log-20150517
ckan.custom.log-20150512  ckan.error.log-20150512   datapusher.cu

[2015-05-29 18:58] ccaudill commented on #26
The AMI has been recreated. User will search for “CentOS 6.4 (x86_64) - Release Media” instead of "NGDS".  The installation guide in the ReadMe of this GitHub repo has been updated. Also, t2.medium has been deprecated, so m3.medium must now be used.

[2015-06-02 13:32] lukejbuckley opened #27 "Trying to complete update/Errors"
When trying to work through the update instructions for our server, the first command execution (sudo) yields screens of errors:
psql:/usr/pgsql-9.1/share/contrib/postgis-1.5/postgis.sql:82: ERROR:  type "spheroid" already exists
psql:/usr/pgsql-9.1/share/contrib/postgis-1.5/postgis.sql:92: ERROR:  current transaction is aborted, commands ignored until end of transaction block
psql:/usr/pgsql-9.1/

[2015-06-02 18:25] ccaudill commented on #27
@dano-reisys

[2015-06-05 16:28] lukejbuckley commented on #27
Going to add to this... Went to see what the web interface looked like and it appears to not run after the update:

[2015-06-05 16:29] lukejbuckley commented on #27
Internal Server Error

The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator, root@localhost and inform them of the time the error occurred, and anything you might have done that may have caused the error.

More information about this error may be available in the server error log.

Apache/2.2.15 (CentOS) Serv

[2015-06-11 17:35] ccaudill commented on #26
From user Dave:

Dan,
When I follow the instructions at the link you provided I get to step 21 just fine. Step 22 does not work (see below).

You email seems to indicate that I should follow the installation instructions for deploying on my own server. I tried this and got a number of errors (see farther below):

22.	Note the IP address in the Public IP column for this new instance. Once the launc

[2015-06-29 20:31] ccaudill commented on #27
@lukejbuckley From our developer:
can we have them install the new rpm on a new server instance?
 it would probably be easier to solve the problem this way

It sounds easier to reinstall at this point. Ron has found it best to wipe your CentOS also. It would be starting a new rpm install on a new server.

[2015-06-29 20:54] lukejbuckley commented on #27
Ok, don’t have the time for that in the near term. Likely mid-late July as I’ve got a major project coming to a head starting Wednesday. Will try to reconnect in a few weeks.

Thanks,
Luke

Luke Buckley | Computer Software Engineer
MBMG | Montana Tech
1300 W Park St, NRB 329 A | Butte, MT 59701
406.496.4677 [Desk]

From: Christy Caudill [mailto:notifications@github.com]
Sent: Monday, June 29, 2015

[2015-06-29 20:57] ccaudill commented on #27
sure thing @lukejbuckley  It shouldn't be too time-consuming. Any questions, please let us know!

[2015-07-09 19:57] dano-reisys commented on #26
I had to run (for some reason) `yum upgrade ca-certificates --disablerepo=epel` in order to be able to install the rpm.

Node `http://52.6.223.139/` should work now

[2015-10-09 22:58] smrazgs commented on #26
no longer relevant

[2015-10-09 22:58] #26 closed

[2015-11-25 21:54] smrazgs commented on #20
see https://github.com/ngds/ckanext-ngds/issues/635

[2016-01-14 15:41] #20 closed

[2016-01-14 15:42] smrgeoinfo commented on #23
@Lbookman is this handled?

[2017-07-19 01:36] emilianoavendano commented on #18
in order to "yum install yum-utils" work, you need the yum-utils before:

yum install yum-utils

[2018-02-07 17:43] smrgeoinfo opened #28 "Need to review and update readme for the repo"
Instructions related to generating updates to a CENTOS-RPM-SERVER do not work; the name is a place holder and apparently the server has not been deployed. Need to review and update instructions here.